$color1: #fff;
$color2: #000;
$color3: #808080;
$color4: rgba(0, 123, 255, 1);
$color5: rgba(40, 167, 69, 1);
$color6: #e5e5e5;

* { box-sizing: border-box; }
body { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

a {
  text-decoration: none;
  color: unset;

  &:hover { cursor: pointer; }
}

button {
  &:hover { cursor: pointer; }
}

.wrapper {
  width: 77.05%;
  margin: 0 auto;
}

header { padding-top: 20px; }

.header-page-name {
  padding-bottom: 15px;
  border-bottom: 1px solid $color6;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: $color3;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
  }

  h1 {
    a {
      color: $color2;
      font-family: 'Times New Roman', Times, serif;
      font-size: 40px;
      font-weight: bold;
    }
  }
}

.header-buttons {
  display: flex;
  align-items: center;

  form {
    input { display: none; }

    button {
      border: none;
      margin-right: 15px;
      background-color: transparent;
      color: $color3;
      font-size: 0;

      &::after {
        content: '\f002';
        display: inline-block;
        font-family: "Font Awesome 6 Free";
        font-size: 18px;
        font-weight: 900;
      }
    }
  }

  .sign-up {
    padding: 5px 7px;
    border: 2px solid $color3;
    border-radius: 3px;
    background-color: transparent;
    color: $color3;
    font-size: 16px;
  }
}

nav {
  ul {
    padding: 15px 5px 25px;
    display: flex;
    justify-content: space-between;
  }

  a {
    color: $color3;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
  }
}