$color1: #fff;
$color2: #000;
$color3: #808080;
$color4: #007BFF;
$color5: #28A745;
$color6: #e5e5e5;
$color7: #343A40;
$color8: #f8f8f8;

$font-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-secondary: 'Times New Roman', Times, serif;

$small-desktop: 1240px;
$small-mobile: 400px;

@mixin breakpoint($device) {
	@if ($device == 'small-desktop') {
		@media screen and (max-width: $small-desktop) {
      @content;
    }
	}
  @else if ($device=='small-mobile'){
    @media screen and (max-width: $small-mobile) {
      @content;
    }
  }
}

/* Common Styles start */
* { box-sizing: border-box; }

body { 
  font-family: $font-primary;
  font-display: swap;
}

a {
  text-decoration: none;
  color: unset;

  &:hover { 
    cursor: pointer;
    transition: color 0.4s ease-in; 
  }
}

button {
  &:hover { cursor: pointer; }
}

.wrapper {
  width: 77.05%;
  margin: 0 auto;
}

%blue-links-style {
  display: inline-block;
  color: $color4;
  font-size: 17px;
  font-weight: 600;
  box-sizing: unset;

  &:hover { color: $color7; }
}

%list-with-links {
  padding-left: 6.5%;

  li {
    margin-bottom: 7px;
    &:last-child { margin-bottom: 0; }
  }

  a {
    @extend %blue-links-style;
    text-transform: capitalize;
  }
}
/* Common Styles end */

header { padding-top: 20px; }

.header-page-name {
  padding-bottom: 15px;
  border-bottom: 1px solid $color6;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: $color3;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;

    &:hover { color: $color4; }
  }

  h1 {
    a {
      color: $color7;
      font-family: $font-secondary;
      font-size: 40px;
      font-weight: bold;
      &:hover { color: $color7; }
    }
  }
}

.header-buttons {
  display: flex;
  align-items: center;

  form {
    input { display: none; }

    button {
      border: none;
      margin-right: 15px;
      background-color: transparent;
      color: $color3;
      font-size: 0;

      &:hover { 
        color: $color4;
        transition: color 0.4s ease-in;
      }

      &::after {
        content: '\f002';
        display: inline-block;
        font-family: "Font Awesome 6 Free";
        font-size: 18px;
        font-weight: 900;
      }
    }
  }

  .sign-up {
    padding: 5px 7px;
    border: 2px solid $color3;
    border-radius: 3px;
    background-color: transparent;
    color: $color3;
    font-size: 16px;

    &:hover {
      border: 2px solid $color4;
      color: $color4;
      transition: color 0.4s ease-in, border 0.4s ease-in;
    }
  }
}

nav {
  ul {
    padding: 15px 5px 25px;
    display: flex;
    justify-content: space-between;
  }

  a {
    color: $color3;
    font-size: 17px;
    font-weight: 600;
    text-transform: capitalize;
    
    &:hover { color: $color4; }
  }
}

.banner {
  margin-bottom: 30px;
  padding: 60px 4.73%;
  border-radius: 5px;
  background-color: $color7;

  > * { 
    margin-bottom: 20px;
    &:last-child { margin-bottom: 0; }
  }

  span { display: block; }

  h2 {
    color: $color1;
    font-family: $font-secondary;
    font-size: 56px;
    font-weight: bold;
    font-style: italic;
  }

  p {
    color: $color1;
    font-size: 20px;
    line-height: 28px;
  }

  a {
    color: $color1;
    font-size: 22px;
    font-weight: bold;

    &:hover { color: $color4; }
  }
}

.posts-with-thumbnail {
  margin-bottom: 30px;
  display: flex;
  column-gap: 2.7%;

  li {
    border: 2px solid $color6;
    border-radius: 3px;
    display: flex;
    -webkit-box-shadow: 0 3px 3px 0px $color6;
    -moz-box-shadow: 0 3px 3px 0px $color6;
    box-shadow: 0 3px 3px 0px $color6;
  }

  .post-content {
    padding: 25px 5%;
    display: flex;
    flex-direction: column;
    flex-basis: 62.86%;
    flex-shrink: 0;
    justify-content: center;

    .post-category {
      margin-bottom: 20px;
      display: inline-block;
      color: $color4;
      font-size: 16px;
      font-weight: bold;
      text-transform: capitalize;

      &.green { color: $color5; }
    }

    h3 {
      margin-bottom: 5px;
      color: $color2;
      font-family: $font-secondary;
      font-size: 30px;
      font-weight: bold;
    }

    .date {
      margin-bottom: 10px;
      display: inline-block;
      color: $color3;
      font-size: 17px;
    }

    .content {
      margin-bottom: 20px;
      color: $color2;
      font-size: 17px;
      line-height: 22px;
    }

    a {
      @extend %blue-links-style;
    }
  }

  figure {
    display: flex;
    align-items: center;
    flex-basis: 37.14%;
    flex-shrink: 0;

    img {
      width: 100%;
      height: auto;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      display: block;
    }
  }
}

.blogs-section {
  display: flex;
  column-gap: 2.7%;

  aside {
    flex-basis: 31.4%;
    flex-shrink: 0;

    > * {
      margin-bottom: 50px;
      &:last-child { margin-bottom: 0; }
    }

    h3 {
      margin-bottom: 10px;
      color: $color2;
      font-family: $font-secondary;
      font-size: 32px;
      font-style: italic;
      font-weight: bold;
      text-transform: capitalize;
    }
  }
}

.blogs-container {
  margin-bottom: 60px;
  
  h3 {
    padding-bottom: 20px;
    border-bottom: 2px solid $color6;
    margin-bottom: 30px;
    color: $color2;
    font-family: $font-secondary;
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
  }
}

.blogs {
  margin-bottom: 60px;

  > li {
    margin-bottom: 60px;
    &:last-child { margin-bottom: 0; }
  }

  h4 {
    margin-bottom: 10px;
    color: $color2;
    font-family: $font-secondary;
    font-size: 46px;
    font-weight: bold;
  }

  .date-author {
    margin-bottom: 25px;
    display: inline-block;
    color: $color3;
    font-size: 17px;

    a {
      @extend %blue-links-style;
      text-transform: capitalize;
    }
  }

  p {
    margin-bottom: 20px;
    color: $color2;
    font-size: 17px;
    line-height: 22px;

    &:last-child { margin-bottom: 0; }
    a { @extend %blue-links-style; }
    .bold { font-weight: bold; }
    .italic { font-style: italic; }
  }

  .border-below {
    padding-bottom: 20px;
    border-bottom: 2px solid $color6;
  }

  h5 {
    margin-bottom: 10px;
    color: $color2;
    font-family: $font-secondary;
    font-size: 38px;
    font-weight: bold;
    text-transform: capitalize;
  }

  h6 {
    margin-bottom: 10px;
    color: $color2;
    font-family: $font-secondary;
    font-size: 32px;
    font-weight: bold;
  }

  code {
    margin-bottom: 20px;
    display: block;
    letter-spacing: 1px;
  }

  ul {
    margin-bottom: 20px;
    padding-left: 3.5%;
    list-style-type: disc;
    list-style-position: inside;

    li {
      margin-bottom: 5px;
      font-size: 17px;

      &:last-child { margin-bottom: 0; }
    }
  }

  ol {
    margin-bottom: 20px;
    padding-left: 3.5%;
    list-style-type: decimal;
    list-style-position: inside;

    li {
      margin-bottom: 5px;
      font-size: 17px;

      &:last-child { margin-bottom: 0; }
    }
  }
}

.blog-control-buttons {
  display: flex;

  button {
    padding: 8px 15px;
    border: 1px solid $color4;
    border-radius: 20px;
    margin-right: 5px;
    display: inline-block;
    background-color: transparent;
    color: $color4;
    font-size: 17px;
    text-transform: capitalize;

    &:hover {
      background-color: $color4;
      color: $color1;
      transition: background-color 0.4s ease-in, color 0.4s ease-in;
    }

    &:last-child { margin-right: 0; }

    &.disabled {
      border: 1px solid $color3;
      color: $color3;

      &:hover {
        background-color: transparent;
        color: $color3;
        cursor: default;
        transition: none;
      }
    }
  }
}

.about {
  padding: 30px 6.5%;
  background-color: $color8;

  p {
    color: $color2;
    font-size: 17px;
    line-height: 22px;
  }
}

.archives {
  @extend %list-with-links;
}

.elsewhere {
  @extend %list-with-links;
}

footer {
  padding: 40px 0;
  border-top: 2px solid $color6;
  background-color: $color8;
  text-align: center;

  span {
    margin-bottom: 20px;
    display: block;
    color: $color3;
    font-size: 17px;
    text-align: center;

    &:last-child { margin-bottom: 0; }

    &.back-to-top {
      @extend %blue-links-style;

      &:hover { cursor: pointer; }
    }

    a {
      @extend %blue-links-style;
      text-transform: capitalize;
    }
  }
}